<div class="fields">
  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :company %>
    <%= f.text_field :company %>
  </p>
  <p>
    <%= f.label :product_link %>
    <%= f.text_field :product_link %>
  </p>
  <%= remove_child_link 'Remove', f %>
</div>
