<div id="wide-left-col">
  <div class="box">
    <div class="box-title">
      <span class="blue">TE</span>AM
    </div>
    <div class="matches">
      <div class="matches-title"><%= @team.name %></div>
      <table class="match-info">
        <tr class="odd">
          <td class="title">Date</td>
          <td><%= @team.created_at %></td>
        </tr>
        <tr>
          <td class="title">Game</td>
          <td><%= @team.category.name %></td>
        </tr>
        <tr class="odd">
          <td class="title">Country</td>
          <td><%= flag @team.country %></td>
        </tr>
        <tr>
          <td class="title">Website</td>
          <td><%= @team.website %></td>
        </tr>
      </table>
      <%= image_tag @team.logo.url, :class => 'matches-logo' %>
      <div class="matches-title">Players</div>
      <ul class="team-players">
        <% @team.players.each do |player| %>
          <li><%= flag player.country %><%= link_to player.nickname, player %></li>
        <% end %>
      </ul>
      <div class="matches-title">Latest results</div>
    </div>
  </div>
</div>

<div id="thin-right-col">
  <div class="box">
    <div class="box-title">
      <span class="blue">CREDITS</span> TO
    </div>
    <%= render :partial => 'articles/author', :locals => {:user => @team.user} %>
  </div>
</div>
