#dialog{:title => 'News Images'}
  .box
    #new_image
      .header
        = title 'UPLOAD AN IMAGE'
      = render :partial => 'form'
  .box
    .header
      = title 'SELECT AN IMAGE'
    #news_images
      = render :partial => @news_images
  .pagination= will_paginate @news_images

= javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js'
= javascript_include_tag 'jquery.form.js'
:javascript
  function select_image() {
    $(".news_image").removeAttr("id");
    $(this).parent().parent().attr("id", "selected");
    return false;
  }

  $("#new_news_image").ajaxForm({
    success: function(responseText, statusText, xhr, form) {
      $("#new_image").html(responseText);
      $('.news_image:first').attr("id", "selected");
      $('.ui-button').click();
    }
  });
  $(".news_image img").click(select_image);

  $(".pagination a").click(function() {
    $("#dialog").load($(this).attr('href'));
    return false;
  });

/[if IE]
  = javascript_include_tag 'ie.js'
