<h1>Listing brackets for <%= @event.name %></h1>

<table class="admin-table">
  <tr>
    <th>Name</th>
    <th>Number of teams</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @brackets.each do |bracket| %>
  <tr>
    <td><%= bracket.name %></td>
    <td><%= bracket.event_teams.size %></td>
    <td><%= link_to 'Show event', bracket.event %></td>
    <td><%= link_to 'Show bracket', bracket %></td>
    <td><%= admin_links bracket %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New bracket', new_event_bracket_path %>
