<div class="blog-summary">
  <%= image_tag blog.user.avatar.url, :class => 'avatar' %>
  <div class="blog-info">
    <strong><%= link_to blog.title, blog %></strong>
    <span> by <%= link_to blog.user.username, blog.user %></span><br />
    <div class="date"><em>Posted on <%= blog.created_at.strftime "%d %B %Y at %H:%M %Z" %></em></div>
  </div>
  <%= blog.preamble %>
</div>
<hr />
