<div id="wide-left-col">
  <div class="box" id="blog">
    <div class="header">
      <%= title 'BLOG' %>
    </div>
    <%= admin_links @blog %>
    <h1><%= @blog.title %></h1>
    <div class="date">Posted on <%= @blog.created_at.strftime "%d %B %Y at %H:%M %Z" %></div>
    <div class="preamble">
      <%= @blog.preamble %>
    </div>
    <hr />
    <%= @blog.content %>
  </div>
  <div id="comments-box" class="box">
    <a name="comments"></a>
    <div id="comments-title"><%= title 'COMMENTS' %></div>
    <div id="holder">
      <%= render :partial => @blog.comments.roots, :locals => {:obj => @blog} %>
    </div>
  </div>
  <% if can? :create, Comment %>
    <div class="box">
      <% form_for :comments, :url => {:action => 'comment', :id => @blog } do |f| %>
        <%= f.error_messages %>
        <p>
          <%= f.label :content, 'Comment' %><br />
          <%= f.text_area :content, :class => 'comment-area', :maxlength => 1000 %>
          <p class="charRemaining"></p>
        </p>
        <%= f.submit 'Add comment' %>
      <% end %>
    </div>
  <% end %>
</div>

<div id="thin-right-col">
  <div class="box">
    <div class="header">
      <%= title 'BLOGGER' %>
    </div>
    <%= render :partial => @blog.user %>
  </div>
  <div class="box">
    <div class="header">
      <%= title 'BLOG ARCHIVE' %>
    </div>
    <ul id="blog-archive" class="dotted">
      <% @blog.user.blogs.each do |blog| %>
        <li>
          <%= link_to blog.title, blog %><br />
          <div class="date">
            posted on <%= blog.created_at.strftime("%d %B %Y %H:%M %Z") %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
  <%= render :partial => @advert, :locals => {:image_size => :right_side} %>
</div>

