<div id="wide-left-col">
  <div class="box" id="blog">
    <%= title 'BLOG' %>
    <%= admin_links @blog %>
    <h2><strong><%= @blog.title %></strong></h2>
    <div class="date">Posted on <%= @blog.created_at.strftime "%d %B %Y at %H:%M %Z" %></div>
    <div class="preamble">
      <%= @blog.preamble %>
    </div>
    <hr />
    <%= @blog.content %>
  </div>
  <div id="comments-box" class="box">
    <a name="comments"></a>
    <div id="comments-title"><%= title 'COMMENTS' %></div>
    <div id="holder">
      <%= render :partial => @blog.comments.roots, :locals => {:obj => @blog} %>
    </div>
  </div>
  <% if can? :create, Comment %>
    <div class="box">
      <% form_for :comments, :url => {:action => 'comment', :id => @blog } do |f| %>
        <%= f.error_messages %>
        <p>
          <%= f.label :content, 'Comment' %><br />
          <%= f.text_area :content, :class => 'comment-area', :maxlength => 1000 %>
          <p class="charRemaining"></p>
        </p>
        <%= f.submit 'Add comment' %>
      <% end %>
    </div>
  <% end %>
</div>

<div id="thin-right-col">
  <div class="box">
    <%= title 'BLOGGER' %>
    <%= render :partial => 'articles/author', :locals => {:user => @blog.user} %>
    <div class="clear"></div>
  </div>
  <div class="box">
    <%= title 'BLOG ARCHIVE' %>
    <ul id="blog-archive">
      <% @blog.user.blogs.each do |blog| %>
        <li><%= link_to blog.title, blog %></li>
      <% end %>
    </ul>
  </div>
</div>

