<div id="wide-left-col">
  <div class="box">
    <h1><span class="blue">BL</span>OG</h1>
    <%= admin_links @blog %>
    <div class="blog-show-info">
      <p><strong>By <%= @blog.user.username %></strong></p>
      <%= @blog.preamble %>
    </div>
    <hr />
    <%= @blog.content %>
  </div>
  <div id="comments-box" class="box">
    <a name="comments"></a>
    <div id="comments-title"><h1><span class="blue">COM</span>MENTS</h1></div>
    <div id="holder">
      <%= render :partial => @blog.comments.roots, :locals => {:obj => @blog} %>
    </div>
  </div>
  <% if can? :create, Comment %>
    <div class="box">
      <% form_for :comments, :url => {:action => 'comment', :id => @blog } do |f| %>
        <%= f.error_messages %>
        <p>
          <%= f.label :content, 'Comment' %><br />
          <%= f.text_area :content, :class => 'comment-area', :maxlength => 1000 %>
          <p class="charRemaining"></p>
        </p>
        <%= f.submit 'Add comment' %>
      <% end %>
    </div>
  <% end %>
</div>

<div id="thin-right-col">
  <div class="box">
    <h1><span class="blue">BLO</span>GGER</h1>
    <%= render :partial => 'articles/author', :locals => {:user => @blog.user} %>
    <div class="clear"></div>
  </div>
  <div class="box">
    <h1><span class="blue">BLOG</span> ARCHIVE</h1>
    <ul id="blog-archive">
      <% @blog.user.blogs.each do |blog| %>
        <li><%= link_to blog.title, blog %></li>
      <% end %>
    </ul>
  </div>
</div>

