<% if comment_content.album_photo_id? %>
  <div class="photo_<%= comment_content.album_photo_id %>">
<% end %>
<div class="comment-info">
  <%= flag comment_content.user.country %>
  <%= full_name comment_content.user %>
  <% if can? :update, comment_content %>
    <%= admin_links comment_content, 'inline-admin', :controller => 'comments' %>
  <% end %>
</div>
<div class="comment"><%= comment_content.content %></div>
<% if comment_content.album_photo_id? %>
  </div>
<% end %>
