<% if local_assigns[:comment_class].nil? %>
  <div class="comment-info">
<% else %>
  <div class="<%= comment_class %>">
<% end %>
  <%= flag comment_content.user.country %>
  <%= full_name comment_content.user %>
  <% if can? :update, comment_content %>
    <%= admin_links comment_content, 'inline-admin', :controller => 'comments' %>
  <% end %>
</div>
<div class="comment"><%= comment_content.content %></div>
