<% if comment_content.album_photo_id? %>
  <div class="photo_<%= comment_content.album_photo_id %>">
<% end %>
<div class="comment-info">
  <span class="name">
    <%= flag comment_content.user.country %>
    <%= link_to full_name(comment_content.user), comment_content.user, :class => ("insider" if comment_content.user.is? :insider) %>
    <% if can? :update, comment_content %>
      <%= admin_links comment_content, 'inline-admin', :controller => 'comments' %>
    <% end %>
  </span>
  <span class="date">Posted on <%= comment_content.created_at.strftime("%d %B %Y %H:%M %Z") %></span>
</div>
<div class="comment"><%= simple_format comment_content.content %></div>
<div class="comment-reply">
  <%= link_to_function 'Reply', '$(this).parent().next(".reply-form").slideDown()' %>
</div>
<% if can? :create, Comment %>
  <div class="reply-form">
    <% form_for :comments, :url => {:action => 'comment', :id => obj} do |f| %>
      <%= f.error_messages %>
      <%= f.hidden_field :album_photo_id, :value => comment_content.album_photo_id %>
      <%= f.hidden_field :parent_id, :value => comment.id %>
      <p>
        <%= f.label :content, 'Reply' %><br />
        <%= f.text_area :content, :class => 'comment-area', :maxlength => 1000 %>
        <p class="charRemaining">asdklj</p>
      </p>
      <%= f.submit 'Add comment' %>
      <%= link_to_function 'Cancel', '$(this).parent().slideUp()' %>
    <% end %>
  </div>
<% end %>
<% if comment_content.album_photo_id? %>
  </div>
<% end %>
