<h1>Editing comment by <%= @comment.user.username %></h1>

<% form_for(@comment) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :content %><br />
    <%= f.text_area :content, :class => 'comment-area' %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>
