<div id="left-col">
  <div class="box">
    <div class="header">
      <%= title 'SPONSORS PAGE', 'PRIME SPONSORS' %>
    </div>
    <%= render :partial => @partners %>
    <div class="clear"></div>
    <% if can? :create, Partner %>
      <%= link_to 'Add partner', new_partner_path %>
    <% end %>
  </div>
</div>

<div id="right-col">
  <div class="box">
    <div class="header">
      <%= title 'CONTACT US', 'EMAIL US' %>
    </div>
      Want to become a partner? <%= link_to 'Feel free to contact us', 'mailto:info@online-kingdom.org' %>
  </div>
  <%= render :partial => 'shared/official_partners' %>
</div>
