<% div_for article, :class => 'news-content' do %>
  <h1><%= link_to article.title, article, :class => 'news-title' %></h1>
  <div class="date">Posted on <%= article.created_at.strftime "%d %B %Y at %H:%M %Z" %></div>
  <%= admin_links article %>
  <div class="news-rating"><%= stars_for article %></div>
  <p><%= truncate_html(article.preamble, :length => 320) %></p>
  <p><a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-via="OnlineKingdom" data-url="http://www.online-kingdom.org/articles/<%= article.id %>">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
  <iframe src="http://www.facebook.com/plugins/like.php?href=http://www.online-kingdom.org/articles/<%= article.id %>&amp;layout=button_count&amp;show_faces=true&amp;width=100&amp;action=like&amp;colorscheme=light&amp;height=21" scrolling="no" frameborder="0" style="margin-top:2px;border:none; overflow:hidden; width:100px; height:21px;" allowTransparency="true"></iframe>
  </p>
<% end %>
<%= image_tag article.image.url(:default), :class => 'news-picture' if article.image? %>

<% if user_signed_in? %>
<script type="text/javascript">
  $(".stars a").click(function() {
    rating = $(this).attr('id');
    $(".stars a").removeClass('filled');
    $(this).addClass('filled');
    $(this).prevAll('a').addClass('filled');
  });

  $(".stars a").hover(function() {
    $(this).addClass('prev-filled');
    $(this).prevAll('a').addClass('prev-filled');
  }, function() {
    $(".stars a").removeClass('prev-filled');
  });
</script>
<% end %>
