- semantic_form_for @article, :html => {:multipart => true} do |f|
  - f.inputs do
    = f.input :title
    = f.input :lang, :as => :select, :collection => ['English', 'Portuguese'], :label => 'Language'
    = f.input :category, :label => 'Game'
    = f.input :news_category, :label => 'Category'
    = f.input :image
    = f.input :preamble, :input_html => {:class => 'comment-area'}
    = f.input :content, :input_html => {:class => 'mceEditor'}
    = f.input :featured
    = f.input :momentnews, :label => 'News of the moment'
    = f.input :approved if can? :approve, @article
    = f.input :published, :label => 'Publish', :hint => "No editors will be added until article is published"
  = f.buttons
