<h1>News administration</h1>
<%= link_to 'Add news item', new_article_path %>
<table class="admin-table">
  <tr>
    <th>Title</th>
    <th>Author</th>
    <th>Approved?</th>
    <th>Date posted</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
  <% @articles.each do |article| %>
    <tr class="<%= cycle 'even', 'odd' %>">
      <td><%= article.title %></td>
      <td><%= article.user.username %></td>
      <td><%= article.approved %></td>
      <td><%= article.created_at %></td>
      <td><%= link_to 'Edit', edit_article_path(article) %></td>
      <td></td>
    </tr>
  <% end %>
</table>
