<%= render :partial => 'lang_switcher' %>
<div id="left-col">
  <div class="box" id="news-slider-box">
    <div class="header">
      <%= title 'NEWS SWITCH', 'CONTENT CHANGER' %>
      <ul id="news-slider-switcher" class="switcher">
        <%= render :partial => 'news_category_switcher' %>
      </ul>
    </div>
    <div id="news-slider">
      <div id="left">
        <div class="header">
          <%= title 'NEWS OF THE MOMENT' %>
        </div>
        <ul class="dotted">
          <% @momentnews.each do |article| %>
          <li>
            <%= link_to "&raquo; #{truncate article.title, :length => 45}", article %>
          </li>
          <% end %>
        </ul>
      </div>
      <div id="right">
        <ul class="dotted">
        <% @articles.each do |article| %>
          <li>
            <%= link_to "&raquo; #{truncate article.title, :length => 30}", article %>
            <div class="content">
              <%= link_to (image_tag article.news_image.image.thumb("275x180").url), article unless article.news_image.nil? %>
              <p><%= truncate_html article.preamble, :length => 550 %></p>
              <%= link_to '&raquo; Read more', article, :class => 'more' %>
            </div>
          </li>
        <% end %>
        </ul>
        <%= link_to "&raquo; More news", articles_path, :class => 'more' %>
      </div>
    </div>
  </div>


  <div class="box">
    <div class="header">
      <%= title 'ADVERTISEMENT' %>
    </div>
    <%= render :partial => @advert, :locals => {:image_size => :main_page, :box => false} %>
  </div>

  <!-- Insider page -->
  <div class="box">
    <div class="header">
      <%= title 'INSIDER PAGE', 'SPECIAL PLAN' %>
      <ul class="switcher" id="insider-switcher">
        <li><%= link_to 'FORUMS', insiders_path, :class => 'button' %></li>
        <li><%= link_to 'PRIZES', insiders_path, :class => 'button' %></li>
        <li><%= link_to 'EVENTS', insiders_path, :class => 'button' %></li>
        <li><%= link_to 'FILES', insiders_path, :class => 'button' %></li>
        <li><%= link_to 'SERVERS', insiders_path, :class => 'button' %></li>
      </ul>
    </div>
    <ul id="insider_forums" class="insider-page dotted">
      <%= render :partial => 'posts/latest', :collection => @latest_posts %>
    </ul>
    <ul id="insider_prizes" class="insider-page dotted">
      <%= render :partial => Insider.first.insider_prizes %>
    </ul>
    <ul id="insider_events" class="insider-page dotted">
      <%= render :partial => Insider.first.insider_events %>
    </ul>
    <ul id="insider_files" class="insider-page dotted">
      <%= render :partial => Insider.first.insider_files %>
    </ul>
    <ul id="insider_servers" class="insider-page dotted">
      <%= render :partial => Insider.first.insider_servers %>
    </ul>
    <%= link_to '&raquo; Become an OK insider!', insiders_path, :class => 'more' %>
    <div class="clear"></div>
  </div>

  <!-- Videos page -->
  <div class="box" id="video-box">
    <div class="header">
      <%= title 'VIDEOS', 'CINEMA VAULT' %>
      <%= render :partial => 'videos/switcher', :locals => {:anchor => 'video-box'} %>
    </div>
    <div class="home-page-videos">
      <%= render :partial => @videos %>
    </div>
    <%= link_to '&raquo; More videos', videos_path, :class => 'more' %>
  </div>

  <div class="box">
    <div class="header">
      <%= title 'ALBUMS' %>
    </div>
    <div class="home-page-videos">
      <%= render :partial => @albums %>
    </div>
    <%= link_to '&raquo; More albums', albums_path, :class => 'more' %>
  </div>

</div> <!-- End left-col -->

<div id="right-col">

  <!-- Matches box -->
  <div class="box">
    <div class="header">
      <%= title 'MATCH TICKER', 'CONTENT CHANGER' %>
      <ul id="matches-switcher" class="switcher">
        <%= render :partial => 'shared/switcher_list' %>
      </ul>
    </div>
    <ul class="dotted">
      <%= render :partial => @matches, :locals => {:no_admin => true} %>
    </ul>
    <%= link_to '&raquo; More matches', matches_url, :class => 'more' %>
    <div class="clear"></div>
  </div>
  <!-- End matches box -->

  <div class="box">
    <div class="header">
      <%= title 'FOLLOW US' %>
    </div>
    <%= link_to image_tag('twitter.gif'), 'http://twitter.com/OnlineKingdom' %>
    <%= link_to image_tag('facebook.gif'), 'http://www.facebook.com/ONLINEKINGDOM.ORG' %>
  </div>

  <%= render :partial => 'shared/official_partners' %>

  <!-- Blogs box -->
  <div class="box">
    <div class="header">
      <%= title 'BLOGS', 'WRITTEN IN PERSON' %>
    </div>
    <ul id="home-page-blogs" class="dotted">
      <% @blogs.each do |blog| %>
        <li>
          <%= image_tag blog.user.avatar.url(:default), :class => 'avatar' %>
          <strong><%= link_to blog.title, blog %></strong> by <%= link_to blog.user.username, blog.user %><br />
          <em>posted on <%= blog.created_at.strftime "%d %B %Y at %H:%M %Z" %></em><br />
          <%= truncate_html blog.preamble, :length => 100 %>
        </li>
      <% end %>
    </ul>
    <%= link_to '&raquo; More blogs', blogs_url, :class => 'more' %>
  </div>
  <!-- End blogs box -->

  <!-- Social networks -->
  <div class="box">
    <div class="header">
      <%= title 'SOCIAL NETWORKS' %>
    </div>
    <iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.facebook.com%2FONLINEKINGDOM.ORG%23%21%2Fpages%2FOnline-Kingdom%2F199344953415189&amp;layout=standard&amp;show_faces=true&amp;width=450&amp;action=like&amp;colorscheme=light&amp;height=80" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:80px;" allowTransparency="true"></iframe>
  </div>

</div>

<% content_for :extra_js do %>
  <script type="text/javascript">

    /* News switcher */
    function select_news_item(item) {
      $("#right ul li a").removeClass('selected');
      item.addClass('selected');
      $("#current").html(item.parent().find('.content').html());
    }
    $('#left').prepend('<div id="current"></div>');
    select_news_item($("#right ul li a:first"));
    $("#right ul li a").click(function() {
        select_news_item($(this));
        return false;
    });

    /* Insider switch */
    $(".insider-page").hide();
    $('#insider_forums').show();
    $("#insider-switcher a:first").addClass('selected');

    $('#insider-switcher a').click(function() {
      $('#insider-switcher a').removeClass('selected');
      $(this).addClass('selected');
      $(".insider-page").hide();
      $('#insider_'+$(this).text().toLowerCase()).fadeIn();
      return false;
    });
  </script>
<% end %>
