<%= render :partial => 'lang_switcher' %>
<div id="left-col">
  <div class="box" id="news-slider-box">
    <div class="box-title">
      <span class="blue">NEWS</span> SWITCH<br />
      <span class="subtitle">CONTENT <span>CHANGER</span></span>
    </div>
    <ul id="news-slider-switcher" class="switcher">
      <%= render :partial => 'news_category_switcher' %>
    </ul>
    <div id="news-slider">
      <ul>
      <% @articles.each do |article| %>
        <li>
          <%= link_to "&raquo; #{truncate article.title, :length => 30}", article %>
          <div class="content">
            <%= link_to (image_tag article.image.url(:slider)), article %>
            <p><%= truncate_html article.preamble, :length => 550 %></p>
            <hr />
            <strong><%= link_to '&raquo; read more', article, :class => 'all-matches' %></strong>
          </div>
        </li>
      <% end %>
      </ul>
      <%= link_to "&raquo; all news", articles_path, :class => 'all-matches' %>
    </div>
  </div>

  <div class="box">
    <%= title 'FOLLOW US' %>
    <%= link_to image_tag('twitter.gif'), 'http://twitter.com/OnlineKingdom' %>
    <%= link_to image_tag('facebook.gif'), 'http://www.facebook.com/ONLINEKINGDOM.ORG' %>
  </div>

  <!-- Insider page -->
  <div class="box">
    <div class="box-title">
      <span class="blue">INSIDER</span> PAGE<br />
      <span class="subtitle"><span>SPECIAL</span> PLAN</span>
    </div>
    <ul class="switcher" id="insider-switcher">
      <li><%= link_to 'PRIZES', insiders_path, :class => 'button' %></li>
      <li><%= link_to 'EVENTS', insiders_path, :class => 'button' %></li>
      <li><%= link_to 'FILES', insiders_path, :class => 'button' %></li>
      <li><%= link_to 'SERVERS', insiders_path, :class => 'button' %></li>
    </ul>
    <ul id="insider_prizes" class="insider-page">
      <%= render :partial => Insider.first.insider_prizes %>
    </ul>
    <ul id="insider_events" class="insider-page">
      <%= render :partial => Insider.first.insider_events %>
    </ul>
    <ul id="insider_files" class="insider-page">
      <%= render :partial => Insider.first.insider_files %>
    </ul>
    <ul id="insider_servers" class="insider-page">
      <%= render :partial => Insider.first.insider_servers %>
    </ul>
    <%= link_to '&raquo; Become an OK insider!', insiders_path, :class => 'all-matches' %>
    <div class="clear"></div>
  </div>

  <!-- Videos page -->
  <div class="box">
    <div class="box-title">
      <span class="blue">VI</span>DEOS<br />
      <span class="subtitle"><span>CINEMA</span> VAULT</span>
    </div>
    <div class="clear"></div>
    <div id="home-page-videos">
      <%= render :partial => @videos %>
    </div>
    <%= link_to '&raquo; More', videos_path, :class => 'all-matches' %>
    <div class="clear"></div>
  </div>

</div> <!-- End left-col -->

<div id="right-col">

  <!-- Matches box -->
  <div class="box">
    <div class="box-title">
      <span class="blue">MATCH</span> TICKER<br />
      <span class="subtitle">CONTENT <span>CHANGER</span></span>
    </div>
    <ul id="matches-switcher" class="switcher">
      <%= render :partial => 'shared/switcher_list' %>
    </ul>
    <ul id="match-ticker">
      <%= render :partial => @matches, :locals => {:no_admin => true} %>
    </ul>
    <%= link_to '&raquo; all matches', matches_url, :class => 'all-matches' %>
    <div class="clear"></div>
  </div>
  <!-- End matches box -->

  <%= render :partial => 'shared/official_partners' %>

  <!-- Blogs box -->
  <div class="box">
    <div class="box-title">
      <span class="blue">BL</span>OGS<br />
      <span class="subtitle">WRITTEN <span>IN PERSON</span></span>
    </div>
    <div id="home-page-blogs">
      <% @blogs.each do |blog| %>
        <div class="blog">
          <%= image_tag blog.user.avatar.url(:default) %>
          <%= link_to blog.title, blog %> by <%= link_to blog.user.username, blog.user %><br />
          <div class="date">posted on <%= blog.created_at.strftime "%d %B %Y at %H:%M %Z" %></div>
          <%= admin_links blog, 'inline-admin', :controller => 'blogs' %>
          <%= truncate_html blog.preamble, :length => 100 %>
        </div>
      <% end %>
      <%= link_to '&raquo; More', blogs_url, :class => 'all-matches' %>
    </div>
    <div class="clear"></div>
  </div>
  <!-- End blogs box -->


</div>

<% content_for :head do %>
  <%= javascript_include_tag 'switcher' %>
<% end %>

<% content_for :extra_js do %>
  <script type="text/javascript">
    switcher('#matches-switcher', '#match-ticker');
    // Seem to have to setup the slider javascript after changing the slider's category
    switcher('#news-switcher', '#news-slider', function(data) {
        update_content('#news-slider', data);
        bind_slider_links();
    });
    bind_slider_links();

    function bind_slider_links() {
      $('<div id="current"></div>').insertBefore("#news-slider ul");
      select_news_item($("#news-slider ul li a:first"));
      $("#news-slider ul li a").click(function() {
          select_news_item($(this));
          return false;
      });
    }

    function select_news_item(item) {
      $("#news-slider ul li a").removeClass('selected');
      item.addClass('selected');
      $("#news-slider #current").html(item.parent().find('.content').html());
    }

    $(".insider-page").hide();
    $('#insider_prizes').show();

    $('#insider-switcher a').click(function() {
      $('#insider-switcher a').removeClass('selected');
      $(this).addClass('selected');
      $(".insider-page").hide();
      $('#insider_'+$(this).text().toLowerCase()).fadeIn();


      return false;
    });
  </script>
<% end %>
