<%= render :partial => 'lang_switcher' %>
<div id="full-col" class="box">
  <div class="box-title">
    <%= title 'NEWS PAGE' %>
    <span class="subtitle">CONTENT <span>CHANGER</span></span>
  </div>
  <ul id="news-category" class="switcher">
    <%= render :partial => 'shared/switcher_list' %>
  </ul>
  <div class="top-pagination"><%= my_paginate @articles %></div>
  <div id="paginated-news-list">
    <%= render :partial => @articles %>
  </div>
  <div class="clear"></div>
  <div id="pagination"><%= my_paginate @articles %></div>
  <% if can? :create, Article %>
    <%= link_to 'Add a news item', new_article_path, :class => 'button' %>
  <% end %>
</div> <!-- end left-col -->

<% content_for :extra_js do %>
  <%= javascript_include_tag 'switcher' %>
  <script type="text/javascript">
    switcher('#news-category', '#paginated-news-list');
  </script>
<% end %>
