<%= render :partial => 'lang_switcher' %>
<div id="full-col" class="box">
  <div class="box-title">
    <%= title 'NEWS PAGE' %>
    <span class="subtitle">CONTENT <span>CHANGER</span></span>
  </div>
  <ul id="news-category" class="switcher">
    <%= render :partial => 'shared/switcher_list' %>
  </ul>
  <div id="paginated-news-list">
    <%= render :partial => @articles %>
  </div>
  <div class="clear"></div>
  <div id="pagination">
      <%= will_paginate @articles,
        :previous_label => '&laquo;',
        :next_label => '&raquo;',
        :inner_window => 1,
        :outer_window => 0 %></div>
  <% if can? :create, Article %>
    <%= link_to 'Add a news item', new_article_path %>
  <% end %>
</div> <!-- end left-col -->

<% content_for :extra_js do %>
  <%= javascript_include_tag 'switcher' %>
  <script type="text/javascript">
    switcher('#news-category', '#paginated-news-list');
  </script>
<% end %>
