<div id="wide-left-col">
  <div class="box">
    <h1><span class="blue">NEWS</span> PAGE</h1>
    <%= render :partial => 'article_info', :locals => {:article => @article} %>
    <hr />
    <%= @article.content %>
  </div>
  <div class="box">
    <a name="comments"></a>
    <div id="news-comments">
      <h1><span class="blue">COM</span>MENTS</h1>
      <%= render :partial => @article.comments.roots, :locals => {:obj => @article} %>
    </div>
  </div>
  <% if can? :create, Comment %>
    <div class="box">
      <% form_for :comments, :url => {:action => 'comment', :id => @article } do |f| %>
        <%= f.error_messages %>
        <p>
          <%= f.label :content, 'Comment' %><br />
          <%= f.text_area :content, :class => 'comment-area', :maxlength => 1000 %>
          <p class="charRemaining"></p>
        </p>
        <%= f.submit 'Add comment' %>
      <% end %>
    </div>
  <% end %>
</div>
<div id="thin-right-col">
  <div class="box">
    <div class="box-title">
      <span class="blue">CREDITS</span> TO
    </div>
    <div class="clear"></div>
    <%= render :partial => 'author', :locals => {:user => @article.user} %>
    <% @editors.each do |editor| %>
      <div class="news-author">
  <%= image_tag editor.user.avatar.url(:default), :class => 'news-author-picture' %>
  <%= link_to editor.user.username, editor.user %><br />
  <strong>Edited/Approved</strong>
      </div>
    <% end %>
    <div class="news-stats">
      Article has been viewed <%= @article.click_count %> times<br />
      <%= @article.comments.size %> comments<br />
      <%= @num_edits %> updates by <%= pluralize @editors.size, 'writer' %>.<br />
      Last update was <%= time_ago_in_words @article.updated_at %> ago
    </div>
  </div>
</div>
