<% page_title @article.title %>
<div id="wide-left-col">
  <div class="box">
    <div class="header">
      <%= title 'NEWS PAGE' %>
    </div>
    <%= render :partial => 'article_info', :locals => {:article => @article} %>
    <hr />
    <%= @article.content %>
  </div>
  <div id="comments-box" class="box">
    <a name="comments"></a>
    <div id="comments-title"><%= title 'COMMENTS' %></div>
    <div id="holder">
      <%= render :partial => @article.comments.roots, :locals => {:obj => @article} %>
    </div>
  </div>
  <% if can? :create, Comment %>
    <div class="box">
      <% form_for :comments, :url => {:action => 'comment', :id => @article } do |f| %>
        <%= f.error_messages %>
        <p>
          <%= f.label :content, 'Comment' %><br />
          <%= f.text_area :content, :class => 'comment-area', :maxlength => 1000 %>
          <p class="charRemaining"></p>
        </p>
        <%= f.submit 'Add comment' %>
      <% end %>
    </div>
  <% end %>
</div>

<div id="thin-right-col">
  <div class="box">
    <div class="header">
      <%= title 'CREDITS TO' %>
    </div>
    <%= render :partial => @article.user %>
    <% @editors.each do |editor| %>
      <%= render :partial => editor.user, :locals => {:role => editor.update_type } %>
    <% end %>
    <div class="news-stats">
      Article has been viewed <%= @article.click_count %> times<br />
      <%= @article.comments.size %> comments<br />
      <%= @num_edits %> updates by <%= pluralize @editors.size, 'writer' %>.<br />
      Last update was <%= time_ago_in_words @last_update %> ago
    </div>
  </div>
</div>

<% content_for :extra_js do %>
  <script type="text/javascript">
    $("#holder").sweetPages({perPage:7});
    var controls = $('.swControls').detach();
    controls.appendTo("#comments-title");
  </script>
<% end %>
