<div id="wide-left-col">
  <div class="box">
    <h1><span class="blue">NEWS</span> PAGE</h1>
    <%= render :partial => 'article_info', :locals => {:article => @article} %>
    <%= @article.content %>
  </div>
  <div class="box">
    <div id="news-comments">
      <h1><span class="blue">COM</span>MENTS</h1>
    </div>
  </div>
  <div class="box">
  </div>
</div>
<div id="thin-right-col">
  <div class="box">
    <div class="box-title">
      <span class="blue">CREDITS</span> TO
    </div>
    <div class="clear"></div>
    <%= render :partial => 'author', :locals => {:user => @article.user} %>
    <% if @article.moderator %>
      <div class="news-author">
        <%= image_tag @article.moderator.avatar.url(:default), :class => 'news-author-picture' %>
        <%= link_to @article.moderator.username, @article.moderator %><br />
        <strong>Edited/Approved</strong>
      </div>
    <% end %>
  </div>
</div>

