.box
  .header
    = title 'INSIDER FORUMS'

  .header
    = link_to 'Forums', forums_path
    &raquo;
    = link_to @topic.forum.name, @topic.forum
    &raquo;
    = @topic.name

  %table#forums
    %tr
      %th= @topic.name
      %th
    = render :partial => @topic.posts

  = render :partial => 'posts/form'
