<% form_for(@ok_player) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :is_staff %><br />
    <%= f.check_box :is_staff %>
  </p>
  <p>
    <%= f.label :firstname %><br />
    <%= f.text_field :firstname %>
  </p>
  <p>
    <%= f.label :surname %><br />
    <%= f.text_field :surname %>
  </p>
  <p>
    <%= f.label :nickname %><br />
    <%= f.text_field :nickname %>
  </p>
  <p>
    <%= f.label :category_id, 'Game' %><br />
    <%= f.collection_select :category_id, Category.all, :id, :name %>
  </p>
  <p>
    <%= f.label :role %><br />
    <%= f.text_field :role %>
  </p>
  <p>
    <%= f.label :user_id, 'User' %><br />
    <%= f.collection_select :user_id, User.all, :id, :username %>
  </p>
  <p>
    <%= f.label :country %><br />
    <%= f.country_select :country %>
  </p>
  <p>
    <%= f.label :short_description, 'Short description ~140 chars for staff' %><br />
    <%= f.text_area :short_description %>
  </p>
  <p>
    <%= f.submit 'Submit' %>
  </p>
<% end %>

