<div class="ok-staff">
  <%= image_tag ok_staff.avatar.url(:mini) %>
  <div class="info">
    <%= link_to ok_staff.nickname, ok_staff.user %>
    <%= admin_links ok_staff, 'ok-staff-admin' %>
    <br />
    <%= ok_staff.role %>
    <div class="desc"><%= truncate ok_staff.short_description, :length => 50 %></div>
  </div>
</div>
