<div id="left-col">
  <div class="box">
    <div class="box-title">
      <span class="blue">PLAYERS</span> SWITCH<br />
      <span class="subtitle">CONTENT <span>CHANGER</span></span>
    </div>
    <ul id="player-categories" class="switcher">
      <li><%= link_to 'ALL', params.merge(:category => 'all'), :class => 'selected' %></li>
      <% Category.all.each do |category| %>
        <li><%= link_to category.name, params.merge(:category => category.id) %></li>
      <% end %>
    </ul>
    <div id="player-list">
      <%= render :partial => @ok_players %>
    </div>
    <% if can? :create, Player %>
      <%= link_to 'Create player/staff', new_ok_player_path %>
    <% end %>
  </div>
</div>

<div id="right-col">
  <div class="box">
    <div class="box-title">
      <span class="blue">ST</span>AFF<br />
      <span class="subtitle">CONTENT <span>CHANGER</span></span>
    </div>
    <div id="ok_staff">
      <%= render :partial => 'ok_staff', :collection => @ok_staff %>
    </div>
    <div class="clear"></div>
  </div>
  <div class="box">
    <div class="box-title">
      <span class="blue">LAST</span> MATCHES<br />
      <span class="subtitle">CONTENT <span>CHANGER</span></span>
    </div>
    <div id="match-ticker">
      <%= render :partial => 'matches/match', :collection => @ok_matches, :locals => {:no_admin => true} %>
    </div>
    <%= link_to '&raquo; all matches', matches_path, :class => 'all-matches' %>
    <div class="clear"></div>
  </div>
</div>

<% content_for :extra_js do %>
  <%= javascript_include_tag 'switcher' %>
  <script type="text/javascript">
    switcher('#player-categories', '#player-list');
    function update_content(content_id, data) {
      $(content_id).html($(content_id, data).html());
      $("#pagination").html($("#pagination", data).html());
      $("#ok_staff").html($("#ok_staff", data));
      $("#match-ticker").html($("#match-ticker", data));
    }
  </script>
<% end %>
