<% content_for :head do %>
  <%= stylesheet_link_tag 'tournament' %>
<% end %>

<% form_for [@event, @group] do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :stage, 'Stage name e.g. Stage 1' %><br />
    <%= f.text_field :stage %>
  </p>

  <%= add_child_link "Add another team", f, :group_teams %>
  <table class="group" id="group_teams">
    <% f.fields_for :group_teams do |team_form| %>
      <%= render :partial => 'group_team', :locals => {:f => team_form} %>
    <% end %>
  </table>

  <p>
    <%= f.submit 'Submit' %>
  </p>
<% end %>
