<% content_for :head do %>
  <%= stylesheet_link_tag 'tournament' %>
<% end %>

<% form_for [@event, @group] do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>

  <%= add_team_link %>
  <table class="group" id="group">
    <% f.fields_for :group_teams do |team_form| %>
      <tr>
        <td>
          <%= team_form.collection_select :team_id, Team.all, :id, :name %>
          <%= link_to_function '[Remove]', '$(this).closest("tr").remove();' %>
        </td>
      </tr>
    <% end %>
  </table>

  <p>
    <%= f.submit 'Submit' %>
  </p>
<% end %>
