<div id="group" name="<%= group.stage %>">
  <h2>Group <%= group.name %><%= admin_links group, nil, :controller => 'groups' %></h2>
  <table class="group">
    <tr>
      <th></th>
      <th></th>
      <th>P</th>
      <th>W</th>
      <th>D</th>
      <th>L</th>
      <th>Pts</th>
    </tr>
    <% group.sorted_group_teams.each_with_index do |group_team, idx| %>
      <tr class="<%= cycle 'even', 'odd' %>">
        <td class="pos"><%= idx + 1 %>.</td>
        <td><%= flag group_team.team.country %><%= group_team.team.name %></td>
        <td class="centered"><%= group_team.played %></td>
        <td class="centered"><%= group_team.won %></td>
        <td class="centered"><%= group_team.drawn %></td>
        <td class="centered"><%= group_team.lost %></td>
        <td class="centered"><%= group_team.points %></td>
      </tr>
    <% end %>
  </table>
  <div id="group-matches">
    <% group.matches.each do |match| %>
      <div class="group-match">
        <% link_to match, :class => 'group-match-link' do %>
          <%= match.team1.name %> vs. <%= match.team2.name %> 
        <% end %><%= render :partial => 'matches/scores', :locals => {:match => match} %>
        <%= admin_links match, 'group-match-admin-links', :controller => 'matches' %><br />
      </div>
    <% end %>
  </div>
</div>
