<h1>Listing groups for '<%= link_to @event.name, @event %>'</h1>

<%= link_to 'New group', new_event_group_path %>

<% @groups.group_by(&:stage).each do |stage, groups| %>
  <h2>Groups for <%= stage %></h2>
<table class="admin-table">
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
  </tr>

  <% groups.each do |group| %>
    <tr class="<%= cycle 'even', 'odd' %>">
      <td><%= group.name %></td>
      <td><%= link_to 'Show group', group %></td>
      <td><%= admin_links group %></td>
    </tr>
  <% end %>
</table>
<% end %>

<br />
