<div id="left-col">
  <div class="box">
    <div class="box-title">
      <%= title 'PROFILE' %>
      <%= admin_links @user, nil, {}, {:no_delete => true} %>
    </div>
    <div class="profile-info">
      <%= image_tag @user.avatar.url(:profile), :class => 'profile-picture' %>
      <p>Personal information</p>
      <div class="profile-username"><%= @user.username %></div>
      <table class="profile-details">
        <tr class="odd">
          <td class="title">Name</td>
          <td><%= @user.firstname %> <%= @user.surname %></td>
        </tr>
        <tr>
          <td class="title">Age</td>
          <td><%= Date.today.year - @user.birthdate.year %>; <%= @user.birthdate.strftime('%d-%m-%Y') %></td>
        </tr>
        <tr class="odd">
          <td class="title">City</td>
          <td><%= @user.city %></td>
        </tr>
      </table>
    </div>
  </div>
  <div class="box">
    <%= title 'DESCRIPTION' %>
    <p><%= @user.description %></p>
  </div>
</div>

<div id="right-col">
  <div class="box">
    <div class="header">
      <%= title 'HARDWARE' %>
    </div>
    <ul class="dotted">
      <li>Headset<span><%= @user.headset %></span></li>
      <li>Mousepad<span><%= @user.mousepad %></span></li>
      <li>Keyboard<span><%= @user.keyboard %></span></li>
      <li>Mouse<span><%= @user.mouse %></span></li>
      <li>Motherboard<span><%= @user.motherboard %></span></li>
      <li>CPU<span><%= @user.cpu %></span></li>
      <li>Graphics card<span><%= @user.graphicscard %></span></li>
      <li>Memory<span><%= @user.memory %></span></li>
      <li>Hard drive<span><%= @user.hdd %></span></li>
      <li>Gamepad<span><%= @user.gamepad %></span></li>
    </ul>
    <div class="clear"></div>
  </div>
  <div class="box">
    <div class="header">
      <%= title 'BLOGS', 'WRITTEN IN PERSON' %>
    </div>
    <ul class="dotted">
      <% @user.blogs.each do |blog| %>
        <li><%= link_to blog.title, blog %></li>
      <% end %>
    </ul>
  </div>
  <div class="box">
    <div class="header">
      <%= title 'ALBUMS' %>
    </div>
    <div id="user-albums">
      <%= render :partial => @user.albums %>
    </div>
    <%= link_to '&raquo; more albums', albums_path, :class => 'all-matches' %>
  </div>
</div>

