<div id="left-col">
  <div class="box">
    <div class="box-title">
      <%= title 'PROFILE' %>
      <%= admin_links @user, nil, {}, {:no_delete => true} %>
    </div>
    <div class="profile-info">
      <%= image_tag @user.avatar.url(:profile), :class => 'profile-picture' %>
      <p>Personal information</p>
      <div class="profile-username"><%= @user.username %></div>
      <table class="profile-details">
        <tr class="odd">
          <td class="title">Name</td>
          <td><%= @user.firstname %> <%= @user.surname %></td>
        </tr>
        <tr>
          <td class="title">Age</td>
          <td><%= Date.today.year - @user.birthdate.year %>; <%= @user.birthdate.strftime('%d-%m-%Y') %></td>
        </tr>
        <tr class="odd">
          <td class="title">City</td>
          <td><%= @user.city %></td>
        </tr>
      </table>
    </div>
  </div>
  <div class="box">
    <div class="header">
      <%= title 'DESCRIPTION' %>
    </div>
    <p><%= @user.description %></p>
  </div>
</div>

<div id="right-col">
  <div class="box">
    <div class="header">
      <%= title 'HARDWARE' %>
    </div>
    <table id="hardware">
      <tr>
        <td>Headset</td>
        <td class="data"><%= @user.headset %></td>
      </tr>
      <tr>
        <td>Mousepad</td>
        <td class="data"><%= @user.mousepad %></td>
      </tr>
      <tr>
        <td>Keyboard</td>
        <td class="data"><%= @user.keyboard %></td>
      </tr>
      <tr>
        <td>Mouse</td>
        <td class="data"><%= @user.mouse %></td>
      </tr>
      <tr>
        <td>Motherboard</td>
        <td class="data"><%= @user.motherboard %></td>
      </tr>
      <tr>
        <td>CPU</td>
        <td class="data"><%= @user.cpu %></td>
      </tr>
      <tr>
        <td>Graphics card</td>
        <td class="data"><%= @user.graphicscard %></td>
      </tr>
      <tr>
        <td>Memory</td>
        <td class="data"><%= @user.memory %></td>
      </tr>
      <tr>
        <td>Hard drive</td>
        <td class="data"><%= @user.hdd %></td>
      </tr>
      <tr>
        <td>Gamepad</td>
        <td class="data"><%= @user.gamepad %></td>
      </tr>
    </table>
  </div>
  <div class="box">
    <div class="header">
      <%= title 'BLOGS', 'WRITTEN IN PERSON' %>
    </div>
    <ul class="dotted">
      <%= render :partial => 'blog', :collection => @user.blogs %>
    </ul>
  </div>
  <div class="box">
    <div class="header">
      <%= title 'ALBUMS' %>
    </div>
    <div id="user-albums">
      <%= render :partial => @user.albums %>
    </div>
    <%= link_to '&raquo; more albums', albums_path, :class => 'all-matches' %>
  </div>
</div>

