<h1>New video</h1>

<%= render_uploadify(:id => 'video_source',
                     :url => videos_path,
                     :allowed_extensions => [:mov, :avi, :swf, :wmv],
                     :fields => ['video_name'],
                     :allow_multiple_files => false) %>

<% form_for @video, :html => { :multipart => true } do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :source, 'Video' %><br />
    <%= f.file_field :source %>
  </p>
  <p>
    <%= uploadify_submit('Upload') %>
  </p>
<% end %>

<%= link_to 'Back', videos_path %>
