<div class="box">
  <%= title 'NEW VIDEO' %>

  <% form_for @video do |f| %>
    <%= f.error_messages %>

    <p>
      <%= f.label :name %><br />
      <%= f.text_field :name %>
    </p>
    <p>
      <%= f.hidden_field :source_file_name %>
      <%= s3_swf_upload_tag :height => 50,
                            :width => 500,
                            :success => '
    $("#video_source_file_name").val(filename);
    $("#new_video").submit();
    alert("Video uploaded. Encoding has begun automatically.");',
                            :prefix => Time.now.to_i.to_s %>
    </p>
    <p>
      Maximum file size: <%= S3SwfUpload::S3Config.max_file_size/1024.0/1024.0 %>MB
    </p>
  <% end %>
</div>
