<div class="box">
  <div class="header">
    <%= title @video.name.upcase %>
  </div>
  <center>
    <!-- Begin VideoJS -->
    <div class="video-js-box">
      <!-- Using the Video for Everybody Embed Code http://camendesign.com/code/video_for_everybody -->
        <!-- Flash Fallback. Use any flash video player here. Make sure to keep the vjs-flash-fallback class. -->
        <object id="flash_fallback_1" class="vjs-flash-fallback" width="640" height="400" type="application/x-shockwave-flash"
          data="http://releases.flowplayer.org/swf/flowplayer-3.2.6.swf">
          <param name="movie" value="http://releases.flowplayer.org/swf/flowplayer-3.2.6.swf" />
          <param name="wmode" value="opaque" />
          <param name="allowfullscreen" value="true" />
          <param name="flashvars" value='config={"playlist":["<%= @video.poster %>", {"url": "<%= @video.output_url %>","autoPlay":false,"autoBuffering":true}]}' />
          <!-- Image Fallback. Typically the same as the poster image. -->
          <img src="<%= @video.poster %>" width="640" height="400" alt="Poster Image"
            title="No video playback capabilities." />
        </object>
    </div>
    <!-- End VideoJS -->
  </center>
</div>

<div id="wide-left-col">
  <div class="box">
    <div class="header">
      <%= title 'COMMENTS' %>
    </div>
  </div>
</div>

<div id="thin-right-col">
  <div class="box">
    <div class="header">
      <%= title 'CREDITS TO' %>
    </div>
    <%= render :partial => @video.user %>
  </div>
</div>

<script type="text/javascript" src="video-js"></script>
<script type="text/javascript" charset="utf-8">

  // Add VideoJS to all video tags on the page when the DOM is ready
  VideoJS.setupAllWhenReady();

</script>
