#top
  #article
    - latest = Article.find(:first, :conditions => {:featured => true, :approved => true})
    - if latest
      .title
        %span= latest.title
        = stars_for latest
      .info
        This news was posted by #{link_to latest.user.username} on
        = latest.created_at.to_formatted_s :no_time
        %span= link_to pluralize(latest.comments.size, 'comment'), article_path(latest, :anchor => 'comments')
      %div
        = image_tag latest.image.url(:square), :id => 'image' if latest.image?
        %p= truncate_html latest.preamble, :length => 500
      = link_to image_tag('readmore.png'), latest, :class => 'readmore'
  #advert
    - if top_advert = Advert.random('top')
      = render :partial => top_advert, :locals => {:image_size => :top, :box => false}
  #login
    = render :partial => 'shared/login_area'
  #match
    = render :partial => 'shared/top_match'
  #sponsors
    = render :partial => 'shared/top_partners'
