#top
  #top-news
    - latest = Article.find(:first, :conditions => {:featured => true, :approved => true})
    - if latest
      #top-news-title
        %span.title
          = latest.title
        .rating
          = stars_for latest
      .top-info
        This news was posted by <span class="author">#{latest.user.username}</span> on
        = latest.created_at.to_formatted_s :no_time
        %span.num_comments= link_to pluralize(latest.comments.size, 'comment'), article_path(latest, :anchor => 'comments')
      #top-news-content
        = image_tag latest.image.url(:square), :class => 'image' if latest.image?
        %p= truncate_html latest.preamble, :length => 500
      = link_to image_tag('readmore.png'), latest, :class => 'readmore'
  #top-advert
  #login
    = render :partial => 'shared/login_area'
  #top-match
    = render :partial => 'shared/top_match'
  #sponsors
    = render :partial => 'shared/top_partners'
