<% if user_signed_in? %>
  <%= image_tag current_user.avatar.url(:default), :class => 'news-author-picture' %>
  <div id="logged-in">
    Welcome back <%= truncate current_user.username, :length => 15 %>
    <div id="links">
      <%= link_to 'INBOX' %>
      <%= link_to 'SETTINGS', settings_path %>
      <%= link_to 'LOGOUT', destroy_user_session_path %>
    </div>
  </div>
<% else %>
  <% form_tag :action => 'sign_in', :controller => 'users' do %>
    <%= text_field :user, :username, :id => 'login-username' %><br />
    <%= password_field :user, :password, :id => 'login-password' %>
    <%= image_submit_tag "login-btn-bg.png", :id => 'login-btn' %>
    <%= link_to(image_tag("pw-btn-bg.png"), '#', :class => 'pw') %>
  <% end -%>
  <span>Not a member? <%= link_to "JOIN NOW", new_user_registration_path %></span>
<% end %>
