<% latest = Match.find(:last) %>
<% if latest and latest.event %>
<div id="top-match-title">
  <% if latest.event.logo? %>
    <%= image_tag latest.event.logo.url(:default), :class => 'logo' %>
  <% end %>
  <span class="title"><%= link_to latest.event.name, latest.event %></span>
  <div class="rating"></div>
</div>
<div class="top-info">
  <%= latest.start_date.to_formatted_s :match %>
</div>
<div id="top-match-content">
  <div class="team">
    <% if latest.team1.logo? %>
      <%= image_tag latest.team1.logo.url, :class => 'logo' %>
    <% end %>
    <%= link_to latest.team1.name, latest.team1, :class => 'name' %>
  </div>
  <div class="versus">VERSUS</div>
  <div class="team">
    <% if latest.team2.logo? %>
      <%= image_tag latest.team2.logo.url, :class => 'logo' %>
    <% else %>
      <div class="logo"></div>
    <% end %>
    <%= link_to latest.team2.name, latest.team2, :class => 'name' %>
  </div>
</div>
<% end %>
