<% latest = Article.find(:last) %>
<% if latest %>
<div id="top-news-title">
  <span class="title"><%= latest.title %></span>
  <div class="rating"></div>
</div>
<div class="top-info">
  This news was posted by <span class="author"><%= latest.user.username %></span> on <%= latest.created_at %>
  <span class="num_comments"></span>
</div>
<div id="top-news-content">
  <%= image_tag latest.image.url(:square), :class => 'image' %>
  <span class="content"><%= truncate(latest.content, :length => 500) %></span>
</div>
<%= link_to image_tag('readmore.png'), latest, :class => 'readmore' %>
<% end %>
