<% latest = Article.find(:first, :conditions => :featured) %>
<% if latest %>
<div id="top-news-title">
  <span class="title"><%= latest.title %></span>
  <div class="rating"><%= stars_for latest %></div>
</div>
<div class="top-info">
  This news was posted by <span class="author"><%= latest.user.username %></span> on <%= latest.created_at.to_formatted_s :no_time %>
  <span class="num_comments"></span>
</div>
<div id="top-news-content">
  <%= image_tag latest.image.url(:square), :class => 'image' if latest.image? %>
  <span class="content"><%= truncate_html(latest.preamble, :length => 500) %></span>
</div>
<%= link_to image_tag('readmore.png'), latest, :class => 'readmore' %>
<% end %>
