<% latest = Match.find(:last, :include => [:team1, :team2], :conditions => ['featured = ?', true]) %>
<% if latest and latest.event %>
<div id="top-match-title">
  <% if latest.event.logo? %>
    <%= image_tag latest.event.logo.url(:default), :class => 'logo' %>
  <% end %>
  <span class="title"><%= link_to latest.event.name, latest.event %></span>
  <div class="rating"></div>
</div>
<div class="top-info">
  <%= latest.start_date.to_formatted_s :match %>
</div>
<div id="top-match-content">
  <%= render :partial => 'shared/team_logo', :locals => {:team => latest.team1} %>
  <div class="versus">VERSUS</div>
  <%= render :partial => 'shared/team_logo', :locals => {:team => latest.team2} %>
  <%= link_to image_tag('match-link.gif'), latest, :class => 'readmore' %>
</div>
<% end %>
