<% latest = Match.find(:last) %>
<div id="top-match-title">
  <div class="logo"></div>
  <span class="title"><%= latest.event.name %></span>
  <div class="rating"></div>
</div>
<div class="top-info">
  <%= latest.start_date %>
</div>
<div id="top-match-content">
  <div class="team">
    <%= image_tag latest.team1.logo.url, :class => 'logo' %>
    <div class="name"><%= latest.team1.name %></div>
  </div>
  <div class="versus">VERSUS</div>
  <div class="team">
    <%= image_tag latest.team2.logo.url, :class => 'logo' %>
    <div class="name"><%= latest.team2.name %></div>
  </div>
</div>
