<% form_for @event, :html => {:multipart => true} do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :start_date %><br />
    <%= f.date_select :start_date, :order => [:day, :month, :year] %>
  </p>
  <p>
    <%= f.label :end_date %><br />
    <%= f.date_select :end_date, :order => [:day, :month, :year] %>
  </p>
  <p>
    <%= f.label :logo, 'Small logo (61x24)' %><br />
    <%= f.file_field :logo %>
  </p>
  <p>
    <%= f.label :large_logo, 'Large logo (130x130)' %><br />
    <%= f.file_field :large_logo %>
  </p>
  <p>
    <%= f.label :team_event, 'Teams or players?' %><br />
    <%= f.select :team_event, [ ['Teams', true], ['Players', false] ] %>
  </p>
  <p>
    <%= f.label :category_id, 'Category' %><br />
    <%= f.collection_select :category_id, Category.all, :id, :name %>
  </p>
  <p>
    <%= f.label :format_id, 'Format' %><br />
    <%= f.collection_select :format_id, Format.all, :id, :name %>
  </p>
  <p>
    <%= f.label :information, 'Information' %>
    <%= f.text_area :information, :class => 'mceEditor' %>
  </p>
  <p>
    <%= f.label :has_groups %><br />
    <%= f.check_box :has_groups %>
  </p>
  <p>
    <%= f.label :has_brackets %><br />
    <%= f.check_box :has_brackets %>
  </p>
  <hr />
  <%= f.submit 'Submit' %>
<% end %>
