<% form_for @event, :html => {:multipart => true} do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :start_date %><br />
    <%= f.date_select :start_date, :order => [:day, :month, :year] %>
  </p>
  <p>
    <%= f.label :end_date %><br />
    <%= f.date_select :end_date, :order => [:day, :month, :year] %>
  </p>
  <p>
    <%= f.label :logo %><br />
    <%= f.file_field :logo %>
  </p>
  <p>
    <%= f.label :category_id, 'Category' %><br />
    <%= f.collection_select :category_id, Category.all, :id, :name %>
  </p>
  <p><%= link_to 'Create a new team', new_team_path %></p>
  <p> <%= link_to 'Add a match to the event', '#', :id => 'add-match' %> </p>
  <div id="tournament">
    <% @event.event_teams.group_by(&:round).each do |round, teams| %>
      <div class="tournament-round" id="round-<%= round %>">
      <% f.fields_for :event_teams, teams do |team_form| %>
        <div class="match">
          <div class="team">
            <%= team_form.collection_select :team_id, Team.all, :id, :name, {:include_blank => true} %>
          </div>
        </div>
      <% end %>
      </div>
    <% end %>
  </div>
  <div class="clear"></div>
  <%= f.submit 'Submit' %>
<% end %>
<div id="team-select">
  <%= select('', '', Team.all.map {|team| [team.name, team.id]}, :include_blank => true) %>
</div>

<% content_for :head do %>
  <%= stylesheet_link_tag 'tournament' %>
<% end %>

<% content_for :extra_js do %>
  <%= javascript_include_tag 'tournament' %>
<% end %>
