<h1>Event administration</h1>
<%= link_to 'Add event', new_event_path %>
<table class="admin-table">
  <tr>
    <th>Name</th>
    <th>Type</th>
    <th>Game</th>
    <th>Start date</th>
    <th>End date</th>
    <th>Show</th>
    <th>Admin</th>
    <th></th>
  </tr>
  <% @events.each do |event| %>
    <tr class="<%= cycle 'even', 'odd' %>">
      <td><%= event.name %></td>
      <td><%= event.type %></td>
      <td><%= event.category.name %></td>
      <td><%= event.start_date %></td>
      <td><%= event.end_date %></td>
      <td><%= link_to 'Show', event %></td>
      <td><%= admin_links event, :none %></td>
      <td><%= link_to '[Brackets]', event_brackets_path(event) if event.has_brackets %>
      <%= link_to '[Groups]', event_groups_path(event) if event.has_groups %></td>
    </tr>
  <% end %>
</table>
