<div id="wide-left-col">
  <div class="box">
    <div class="header">
      <%= title 'EVENTS PAGE', 'CONTENT CHANGER' %>
      <ul id="event-category" class="switcher">
        <%= render :partial => 'shared/switcher_list' %>
      </ul>
      <div class="search" id="switcher-search">
        <% form_tag events_path, :method => 'get' do %>
          <%= text_field_tag :search, params[:search] %>
          <%= submit_tag "Search", :name => nil %>
        <% end %>
      </div>
    </div>
    <% if params[:search] %>
      <div class="info-msg">
        Results for '<%= params[:search] %>'
        <%= link_to 'Clear search', events_url %>
      </div>
    <% end %>
    <div id="events-list">
      <%= render :partial => @events %>
    </div>
    <div class="pagination"><%= will_paginate @events %></div>
  </div>
</div>

<% content_for :extra_js do %>
  <%= javascript_include_tag 'switcher' %>
  <script type="text/javascript">
    switcher('#event-category', '#events-list');
  </script>
<% end %>
