<% content_for :head do %>
  <%= stylesheet_link_tag 'tournament' %>
<% end %>

<div id="wide-left-col">
  <div class="box">
    <div class="box-title">
      <span class="blue">TOURNAMENT</span> PAGE
    </div>

    <div class="matches-title">
      <%= @event.name %>
      <span class="right"><%= admin_links @event %></span>
    </div>

    <table class="match-info">
      <tr class="odd">
        <td class="title">Date</td>
        <td><%= event_dates @event %></td>
      </tr>
      <tr>
        <td class="title">Game</td>
        <td><%= @event.category.name %></td>
      </tr>
    </table>
    <div class="matches-title">Attending teams</div>
    <div class="matches-title">Groups
      <% if can? :edit, Group %>
        <%= link_to 'Manage groups', event_groups_path(@event) %>
      <% end %>
      <ul class="group-switcher switcher">
        <%= render :partial => 'group_links', :collection => @event.groups, :as => :group %>
      </ul>
    </div>
    <%= render :partial => @event.groups.first %>
    <div class="matches-title">Brackets
      <% if can? :edit, Bracket %>
        <%= link_to 'Manage brackets', event_brackets_path(@event) %>
      <% end %>
    </div>
    <%= render :partial => @event.brackets %>
    <div class="clear"></div>
  </div>
</div>

<div id="thin-right-col">
  <div class="box">
    <div class="box-title">
      <span class="blue">CREDITS</span> TO
    </div>
    <%= render :partial => 'articles/author', :locals => {:user => @event.user} %>
  </div>
</div>

<% content_for :extra_js do %>
  <%= javascript_include_tag 'switcher' %>
  <script type="text/javascript">
    switcher('.group-switcher', '#group');
  </script>
<% end %>
