<% content_for :head do %>
  <%= stylesheet_link_tag 'tournament' %>
<% end %>

<div id="wide-left-col">
  <div class="box">
    <div class="box-title">
      <span class="blue">TOURNAMENT</span> PAGE
    </div>

    <div class="matches-title">
      <%= @event.name %>
      <span class="right"><%= admin_links @event %></span>
    </div>

    <%= render :partial => 'event_info', :object => @event %>
    <div class="matches-title">Attending teams</div>
    <% @event.attending_teams.each_slice(8) do |teams| %>
      <ul class="attending-teams">
        <% teams.each do |team| %>
          <li><%= flag team.country %><%= link_to team.name, team %></li>
        <% end %>
      </ul>
    <% end %>

    <% if @event.has_groups %>
      <% @event.groups.group_by(&:stage).each do |stage, groups| %>
        <div class="stage">
          <div id="groups-title" class="matches-title">
            <%= stage %> Groups
            <% if can? :edit, Group %>
              <%= link_to 'Manage groups', event_groups_path(@event) %>
            <% end %>
            <ul class="group-switcher switcher" name="<%= stage %>">
              <%= render :partial => 'group_links', :collection => groups, :as => :group %>
            </ul>
            <script type="text/javascript">
              switcher('ul[name=<%= stage %>]', 'div[name=<%= stage %>]');
            </script>
          </div>
          <%= render :partial => groups.first %>
        </div>
      <% end %>
    <% end %>

      <% if @event.has_brackets %>
        <div class="matches-title">Brackets
        <% if can? :edit, Bracket %>
          <%= link_to 'Manage brackets', event_brackets_path(@event) %>
        <% end %></div>
        <%= render :partial => @event.brackets %>
      <div class="clear"></div>
    <% end %>
  </div>
</div>

<div id="thin-right-col">
  <div class="box">
    <div class="box-title">
      <span class="blue">CREDITS</span> TO
    </div>
    <%= render :partial => 'articles/author', :locals => {:user => @event.user} %>
  </div>
</div>

<% content_for :head do %>
  <%= javascript_include_tag 'switcher' %>
<% end %>

<% content_for :extra_js do %>
  <script type="text/javascript">
    // Hide all stages apart from the first
  if ($('.stage').size() > 1) {
    $('.stage #groups-title').after('<div class="stage-nav"></div>');
    $('.stage .stage-nav:not(:first)').append('<a href="" id="prev-stage">Go To Previous Stage</a>');
    $('.stage .stage-nav:not(:last)').append('<a href="" id="next-stage">Go To Next Stage</a>');
    $('.stage').hide();
    var current_stage = $('.stage').first();
    var first = current_stage;
    current_stage.show();

    function switch_stage(new_stage) {
      current_stage.hide();
      current_stage = new_stage;
      current_stage.show();
    }

    $('#next-stage').click(function() {
      switch_stage(current_stage.next());
      return false;
    });

    $("#prev-stage").click(function() {
      switch_stage(current_stage.prev());
      return false;
    });
  }
  </script>
<% end %>
