<% content_for :head do %>
  <%= stylesheet_link_tag 'tournament' %>
<% end %>

<div id="wide-left-col">
  <div class="box">
    <div class="header">
      <%= title 'TOURNAMENT PAGE' %>
    </div>

    <div class="matches-title">
      <%= @event.name %>
      <span class="right"><%= admin_links @event %></span>
    </div>

    <%= render :partial => 'event_info', :object => @event %>
    <%= image_tag @event.large_logo.url, :class => 'matches-logo' if @event.large_logo? %>

    <% unless @event.information.blank? %>
      <div class="matches-title">Information</div>
      <p><%= @event.information %></p>
    <% end %>

    <div class="matches-title">Attending teams</div>
    <% @event.attending_teams.each_slice(8) do |teams| %>
      <ul class="attending-teams">
        <% teams.each do |team| %>
          <li><%= flag team.country %><%= link_to team.name, team %></li>
        <% end %>
      </ul>
    <% end %>

    <% if @event.has_groups %>
      <% @event.groups.group_by(&:stage).each do |stage, groups| %>
        <div class="stage">
          <div id="groups-title" class="matches-title">
            <span><%= stage %> Groups</span>
            <% if can? :edit, Group %>
              <%= link_to 'Manage groups', event_groups_path(@event) %>
            <% end %>
            <ul class="group-switcher switcher" name="<%= stage %>">
              <%= render :partial => 'group_links', :collection => groups, :as => :group %>
            </ul>
          </div>
          <div id="current-group">
            <%= render :partial => groups.first %>
          </div>
        </div>
      <% end %>
    <% end %>

      <% if @event.has_brackets %>
        <div class="matches-title">Brackets
        <% if can? :edit, Bracket %>
          <%= link_to 'Manage brackets', event_brackets_path(@event) %>
        <% end %></div>
        <%= render :partial => @event.brackets %>
      <div class="clear"></div>
    <% end %>
  </div>
  <div class="box">
    <a name="comments"></a>
    <div id="news-comments">
      <%= title 'COMMENTS' %>
      <%= render :partial => @event.comments.roots, :locals => {:obj => @event} %>
    </div>
  </div>
  <% if can? :create, Comment %>
    <div class="box">
      <% form_for :comments, :url => {:action => 'comment', :id => @event } do |f| %>
        <%= f.error_messages %>
        <p>
          <%= f.label :content, 'Comment' %><br />
          <%= f.text_area :content, :class => 'comment-area', :maxlength => 1000 %>
          <p class="charRemaining"></p>
        </p>
        <%= f.submit 'Add comment' %>
      <% end %>
    </div>
  <% end %>
</div>

<div id="thin-right-col">
  <div class="box">
    <div class="header">
      <%= title 'CREDITS TO' %>
    </div>
    <%= render :partial => @event.user %>
    <%= render :partial => @editors %>
    <div class="news-stats">
      Event has been viewed <%= pluralize @event.click_count, 'time' %><br />
      <%= @event.comments.count %> comments<br />
      <%= @num_edits %> updates by <%= pluralize @editors.size, 'writer' %>.<br />
      Last update was <%= time_ago_in_words @last_update %> ago
    </div>
  </div>
</div>
