<% content_for :head do %>
  <%= stylesheet_link_tag 'tournament' %>
<% end %>

<div id="wide-left-col">
  <div class="box">
    <div class="box-title">
      <span class="blue">TOURNAMENT</span> PAGE
    </div>

    <div class="matches-title"><%= @event.name %></div>

    <table class="match-info">
      <tr class="odd">
        <td class="title">Date</td>
        <td><%= event_dates @event %></td>
      </tr>
      <tr>
        <td class="title">Game</td>
        <td><%= @event.category.name %></td>
      </tr>
    </table>
    <div class="matches-title">Attending teams</div>
    <% @event.attending_teams.each_slice(7) do |slice| %>
      <ul class="attending-teams">
        <% slice.each do |event_team| %>
          <li>
            <%= flag event_team.team.country %>
            <%= link_to event_team.team.name, event_team.team %>
          </li>
        <% end %>
      </ul>
    <% end %>
    <div class="matches-title">Groups
      <ul class="group-switcher switcher">
        <%= render :partial => 'group_links', :collection => @event.groups, :as => :group %>
      </ul>
    </div>
    <%= render :partial => @event.groups.first %>
    <div class="matches-title">Brackets</div>
    <div id="tournament">
      <%= render :partial => 'bracket', :locals => {:event => @event} %>
    </div>
    <div class="clear"></div>
  </div>
</div>

<div id="thin-right-col">
  <div class="box">
    <div class="box-title">
      <span class="blue">CREDITS</span> TO
    </div>
    <%= render :partial => 'articles/author', :locals => {:user => @event.user} %>
  </div>
</div>

<% content_for :extra_js do %>
  <%= javascript_include_tag 'switcher' %>
  <script type="text/javascript">
    switcher('.group-switcher', '#group');
  </script>
<% end %>
