  <li><%= link_to 'Users', users_path %></li>
  <li><%= link_to 'News', admin_articles_path %></li>
  <li><%= link_to 'Matches', admin_matches_path %></li>
  <li><%= link_to 'Events', admin_events_path %></li>
  <li><%= link_to 'Teams', admin_teams_path %></li>
  <li><%= link_to 'Formats', admin_formats_path %></li>
  <li><%= link_to 'Categories/Games', admin_categories_path %></li>
  <li><%= link_to 'Blogs', admin_blogs_path %></li>
  <li><%= link_to 'Players', admin_players_path %></li>
  <li><%= link_to 'OK Players', admin_ok_players_path %></li>
  <li><%= link_to 'Awards', admin_awards_path %></li>
