<%= render :partial => 'nav' %>
<ul id="admin-settings">
  <li><%= link_to 'Manage users', users_path %></li>
  <li><%= link_to 'Add news', new_article_path %></li>
  <li><%= link_to 'Add match', new_article_path %></li>
  <li><%= link_to 'Add event', new_event_path %></li>
  <li><%= link_to 'Add team', new_team_path %></li>
  <li><%= link_to 'Add player', new_player_path %></li>
</ul>
<div id="admin-content"></div>
