<% if @page.permalink.eql? 'about' %>
<div id="full-col">
  <h1><span class="blue">OUR</span> HISTORY</h1>
  <span class="subtitle">ABOUT <span>ONLINE KINGDOM</span></span>
  <%= admin_links @page %>
  <hr />
  <%= @page.content %>
  <h1><span class="blue">OUR</span> ORGANIZATION</h1>
  <span class="subtitle">THE PEOPLE <span>WHO MAKE IT HAPPEN</span></span>
  <hr />
  <% @high_managers.each_slice(2) do |pair| %>
    <div class="clear"></div>
    <% pair.each do |high_manager| %>
      <div class="high-manager">
        <%= image_tag high_manager.user.avatar.url(:profile) %>
        <%= link_to "#{high_manager.firstname} '#{high_manager.nickname}' #{high_manager.surname}", high_manager.user %>
        <%= admin_links high_manager, 'inline-admin', :controller => 'managers' %><br />
        <strong><%= high_manager.role %></strong><br />
        <%= high_manager.short_description %>
      </div>
    <% end %>
  <% end %>
  <div class="clear"></div>
  <% @medium_managers.each do |manager| %>
    <div class="medium-manager">
      <%= image_tag manager.user.avatar.url(:default) %>
      <%= link_to "#{manager.firstname} '#{manager.nickname}' #{manager.surname}", manager.user %>
      <%= admin_links manager, 'inline-admin', :controller => 'managers' %><br />
      <%= manager.role %><br />
    </div>
  <% end %>
  <div class="clear"></div>
</div>
<% end %>
