<div class="album">
  <%= link_to image_tag(album.album_photos.first.photo.url(:thumb)), album, :rel => album.id %>
  <div class="info">
    <strong><%= truncate album.name, :length => 40 %></strong><br />
    <%= stars_for album %><br />
    By: <%= link_to album.user.username, album.user %><br />
    Views: <%= album.click_count %><br />
    Comments: <%= album.comments.count %>
  </div>
</div>

<% if user_signed_in? %>
<script type="text/javascript">
  $(".stars a").click(function() {
    rating = $(this).attr('id');
    article = $(this).closest('.news-content').attr('id').split('_')[1];
    $(".stars a").removeClass('filled');
    $(this).addClass('filled');
    $(this).prevAll('a').addClass('filled');
  });

  $(".stars a").hover(function() {
    $(this).addClass('prev-filled');
    $(this).prevAll('a').addClass('prev-filled');
  }, function() {
    $(".stars a").removeClass('prev-filled');
  });
</script>
<% end %>
