<div class="new-photo">
  <% fields_for "album[album_photos_attributes][]", photo do |photo_form| %>
    <p>
      <%= photo_form.label :photo %>
      <%= photo_form.file_field :photo %>
      <%= link_to_function "[remove]", "$(this).parent().remove()" %>
    </p>

    <% unless photo_form.object.new_record? %>
      <%= photo_form.check_box '_delete' %>
      <%= photo_form.label '_delete', 'Remove' %>
    <% end %>
  <% end %>
</div>
