<% form_for @match, :html => {:multipart => true} do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :start_date, 'Match date' %><br />
    <%= f.datetime_select :start_date, :order => [:day, :month, :year], :minute_step => 15 %>
  </p>
  <p>
    <%= f.label :category_id, 'Game' %><br />
    <%= f.collection_select :category_id, Category.all, :id, :name %>
    <%= link_to 'Add game', new_category_path %>
  </p>
  <p>
    <%= f.label :map_picture %><br />
    <%= f.file_field :map_picture %>
  </p>
  <p>
    <%= f.label :event_id, 'Event' %><br />
    <%= f.collection_select :event_id, Event.all, :id, :name %>
    <%= link_to 'Add event', new_event_path %>
  </p>
  <p>
    <%= f.label :group_id, 'Group (optional)' %>
    <% if @match.event %>
      <%= f.collection_select :group_id, @match.event.groups, :id, :name, {:include_blank => true} %>
    <% else %>
      <%= f.collection_select :group_id, Event.first.groups, :id, :name, {:include_blank => 'N/A'} %>
    <% end %>
  </p>
  <p> <%= link_to 'Add new team', new_team_path %></p>
  <div class="match-team">
    <%= f.label :team1_id, 'Team 1' %><br />
    <%= f.collection_select :team1_id, Team.all, :id, :name %>
    <p><%= add_child_link 'Add a player', f, :team1_players, {:partial => 'match_player'} %></p>
    <div id="team1_players">
      <% f.fields_for :team1_players do |player_form| %>
        <%= render :partial => 'match_player', :locals => {:f => player_form, :team_id => 1} %>
      <% end %>
    </div>
    <div class="date_dependent">
      <%= f.label :team1_score, 'Team 1 score' %><br />
      <%= f.text_field :team1_score, :class => 'number' %>
    </div>
  </div>
  <div class="match-team">
    <%= f.label :team2_id, 'Team 2' %><br />
    <%= f.collection_select :team2_id, Team.all, :id, :name %>
    <p><%= add_child_link 'Add a player', f, :team2_players, {:partial => 'match_player'} %></p>
    <div id="team2_players">
      <% f.fields_for :team2_players do |player_form| %>
        <%= render :partial => 'match_player', :locals => {:f => player_form, :team_id => 2} %>
      <% end %>
    </div>
    <div class="date_dependent">
      <%= f.label :team2_score, 'Team 2 score' %><br />
      <%= f.text_field :team2_score, :class => 'number' %>
    </div>
  </div>
  <div class="clear"></div>
  <p>
    <%= f.label :format_id, 'Format' %><br />
    <%= f.collection_select :format_id, Format.all, :id, :name %>
    <%= link_to 'Add a format', new_format_path %>
  </p>
  <div class="date_dependent">
    <p>
      <%= f.label :results, 'Result details' %><br />
      <%= f.text_area :results, :class => 'mceEditor' %>
    </p>
  </div>
  <p>
    <%= f.label :featured %><br />
    <%= f.check_box :featured %>
  </p>
  <p>
    <%= f.submit 'Submit' %>
  </p>
<% end %>

<% content_for :extra_js do %>
  <%= javascript_include_tag 'observe_field' %>
  <script type="text/javascript">
    function hide_or_show_date_dependent(column) {
      var chosen_date = new Date(
        $("#"+column+"_1i").val(),
        $("#"+column+"_2i").val() - 1,
        $("#"+column+"_3i").val(),
        $("#"+column+"_4i").val(),
        $("#"+column+"_5i").val(),
        0);
      var today = new Date();
      if (chosen_date.getTime() < today.getTime()) {
        $(".date_dependent").show();
      } else {
        $(".date_dependent").hide();
      }
    }

    hide_or_show_date_dependent('match_start_date');

    $("select[id^=match_start_date_]").change(function() {
      hide_or_show_date_dependent('match_start_date');
    });

    function toggle_group_dependent() {
      var checked = $('#match_group_id:checked').val() != null;
      if (checked) {
        $('.group-dependent').show();
      } else {
        $('.group-dependent').hide();
      }
    }

    toggle_group_dependent();

    $('#match_group_id').change(function() {
      toggle_group_dependent();
    });

  </script>
<% end %>
