<div id="wide-left-col">
  <div class="box">
    <div class="box-title">
      <span class="blue">MATCHES</span> PAGE<br />
      <span class="subtitle">CONTENT <span>CHANGER</span></span>
    </div>
    <ul id="matches-switcher" class="switcher">
      <%= render :partial => 'shared/switcher_list' %>
    </ul>
    <div class="search" id="switcher-search">
      <% form_tag matches_path, :method => 'get' do %>
        <%= text_field_tag :search, params[:search] %>
        <%= submit_tag "Search", :name => nil %>
      <% end %>
    </div>
    <% if params[:search] %>
      <div class="info-msg">
        Results for '<%= params[:search] %>'
        <%= link_to 'Clear search', matches_url %>
      </div>
    <% end %>
    <ul id="match-ticker" class="matches">
      <% if @matches.size > 0 %>
        <%= render :partial => @matches %>
      <% else %>
        <div class="info-msg">No matches found</div>
      <% end %>
    </ul>
    <div id="pagination">
      <%= will_paginate @matches,
        :prev_label => '&laquo;',
        :next_label => '&raquo;',
        :inner_window => 1,
        :outer_window => 0 %></div>
  </div>
</div>


<% content_for :extra_js do %>
  <%= javascript_include_tag 'switcher' %>
  <script type="text/javascript">
    switcher('#matches-switcher', '#match-ticker');
  </script>
<% end %>
