<div id="wide-left-col">
  <div class="box">
    <div class="header">
      <%= title 'MATCHES PAGE', 'CONTENT CHANGER' %>
      <ul id="matches-switcher" class="switcher">
        <%= render :partial => 'shared/switcher_list' %>
      </ul>
      <div class="search" id="switcher-search">
        <% form_tag matches_path, :method => 'get' do %>
          <%= text_field_tag :search, params[:search] %>
          <%= submit_tag "Search", :name => nil %>
        <% end %>
      </div>
    </div>
    <% if params[:search] %>
      <div class="info-msg">
        Results for '<%= params[:search] %>'
        <%= link_to 'Clear search', matches_url %>
      </div>
    <% end %>
    <ul id="match-ticker" class="matches">
      <% if @matches.size > 0 %>
        <%= render :partial => @matches %>
      <% else %>
        <div class="info-msg">No matches found</div>
      <% end %>
    </ul>
    <div class="pagination"><%= will_paginate @matches %></div>
  </div>
</div>

<div id="thin-right-col">
  <%= render :partial => @advert, :locals => {:image_size => :right_side} %>
</div>
