<div id="wide-left-col">
  <div class="box">
    <div class="box-title"><span class="blue">MATCH</span> DETAILS</div>
    <%= admin_links @match %>
    <div class="matches">
      <div class="matches-title">
        <span class="team1"><%= flag @match.team1.country %><%= link_to @match.team1.name, @match.team1 %></span>
        <span class="scores">[ <%= render :partial => 'scores', :locals => {:match => @match} %> ]</span>
        <span class="team2"><%= flag @match.team2.country %><%= link_to @match.team2.name, @match.team2 %></span>
      </div>
      <table class="match-info">
        <tr class="odd">
          <td class="title">Date</td>
          <td><%= @match.start_date.to_formatted_s :match %></td>
        </tr>
        <tr>
          <td class="title">Game</td>
          <td><%= @match.category.name %></td>
        </tr>
        <tr class="odd">
          <td class="title">Event</td>
          <td><%= link_to @match.event.name, @match.event %></td>
        </tr>
        <tr>
          <td class="title">Format</td>
          <td><%= @match.format.name %></td>
        </tr>
      </table>
      <% if @match.map_picture %>
        <%= image_tag @match.map_picture.url(:default), :class => 'match-picture' if @match.map_picture? %>
      <% end %>
      <div class="matches-title">Results</div>
      <div id="match-results"><%= @match.results %></div>
      <div class="matches-title">
        <span class="team1"><%= @match.team1.name %></span>
        <span class="team2"><%= @match.team2.name %></span>
      </div>
      <ul id="team1-roster">
        <%= render :partial => 'team_player', :collection => @match.team1.players %>
      </ul>
      <ul id="team2-roster">
        <%= render :partial => 'team_player', :collection => @match.team2.players %>
      </ul>
      <div class="clear"></div>
    </div>
  </div>
  <div id="comments-box" class="box">
    <a name="comments"></a>
    <div id="comments-title"><h1><span class="blue">COM</span>MENTS</h1></div>
    <div id="holder">
      <%= render :partial => @match.comments.roots, :locals => {:obj => @match} %>
    </div>
  </div>
  <% if can? :create, Comment %>
    <div class="box">
      <% form_for :comments, :url => {:action => 'comment', :id => @match } do |f| %>
        <%= f.error_messages %>
        <p>
          <%= f.label :content, 'Comment' %><br />
          <%= f.text_area :content, :class => 'comment-area', :maxlength => 1000 %>
          <p class="charRemaining"></p>
        </p>
        <%= f.submit 'Add comment' %>
      <% end %>
    </div>
  <% end %>

</div>

<div id="thin-right-col">
  <div class="box">
    <div class="box-title">
      <span class="blue">CREDITS</span> TO
    </div>
    <div class="clear"></div>
    <%= render :partial => 'articles/author', :locals => {:user => @match.user} %>
    <%= render :partial => 'event_editors/event_editor', :collection => @editors %>
    <div class="news-stats">
      Match has been viewed <%= pluralize @match.click_count, 'time' %><br />
      <%= @match.comments.count %> comments<br />
      <%= @num_edits %> updates by <%= pluralize @editors.size, 'writer' %>.<br />
      Last updated <%= time_ago_in_words @last_update %> ago
    </div>
  </div>
</div>

<% content_for :extra_js do %>
  <script type="text/javascript">
    $("#holder").sweetPages({perPage:14});
    var controls = $('.swControls').detach();
    controls.appendTo("#comments-title");
  </script>
<% end %>
