<!DOCTYPE html>
%html
  %head
    %meta{:"http-equiv" => "Content-Type", :content  => "text/html; charset=utf-8"}
    %title ONLINE KINGDOM
    = stylesheet_link_tag 'screen'
    = javascript_include_tag 'jquery'
    = javascript_include_tag 'application', 'cufon-yui', 'Arial_Rounded_MT_Bold_400.font'
    = javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery?
    = javascript_include_tiny_mce_if_used
    = tiny_mce if using_tiny_mce?
    = yield :head
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-12286061-2']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
  %body
    = render :partial => 'shared/messages'
    #wrapper
      = render :partial => 'shared/head'
      %ul#top-nav
        %li#home= link_to '', root_path, :id => 'home-btn'
        %li#news= link_to '', articles_path
        %li#videos= link_to '', videos_path
        %li#albums= link_to '', albums_path
        %li#events= link_to '', events_path
        %li#blogs= link_to '', blogs_path
        %li#matches= link_to '', matches_path
        %li#players= link_to '', ok_players_path
        %li#awards= link_to '', awards_path
        %li#partners= link_to '', partners_path
        %li#about= link_to '', '/static/about'
      #content
        = yield
        .clear
      #footer
        %span.copyright
          %span 2010 ONLINE KINGDOM - ALL RIGHTS RESERVED
          %span DESIGN BY DSGF DESIGNS - COPYRIGHT &copy; BY ONLINE KINGDOM
        %ul
          %li= link_to 'STREAM', streams_path
          - Page.all(:conditions => :show_link).each do |page|
            %li= link_to page.permalink.upcase, '/static/'+page.permalink unless page.permalink.eql? 'about'
          %li= link_to 'INSIDER', insiders_path
          %li= link_to 'CONTACT', 'mailto:info@onlinekingdom.org'
          %li= link_to 'ESPORTSM', 'http://www.esportsm.pt', :target => :_blank
    = yield :extra_js
    :javascript
      Cufon.replace('.switcher li a')
